---
import BaseLayout from "../layouts/BaseLayout.astro";
import SearchPanel from "../components/SearchPanel.astro";
---

<BaseLayout title="البحث | كُتُب">
  <div class="grid gap-4">
    <SearchPanel heading="بحث نصي سريع داخل الكتب العربية" />
  </div>
</BaseLayout>
